:root {
  font-size: 1em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 0;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: white;
  background-image: linear-gradient(135deg, hsl(0deg, 0%, 100%), hsl(0deg, 100%, 98%));
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
}

.main {
  max-width: 500px;
  margin-inline: auto;
}
@media (min-width: 1000px) {
  .main {
    max-width: 1440px;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr max-content;
    grid-template-areas: "header hero" "main-content hero";
    padding-left: min(165px, 0.2840909091 * 100vw + -244.0909090909px);
    column-gap: min(220px, 0.4090909091 * 100vw + -369.0909090909px);
    background-image: url("../images/bg-pattern-desktop.svg");
    background-size: max(550px, 0.6363636364 * 100vw + -86.3636363636px) 100%;
  }
}

.header {
  padding-top: 1.9375rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}
@media (min-width: 1000px) {
  .header {
    grid-area: header;
    padding-top: 4.6875rem;
    padding-left: 0;
  }
}

.logo {
  width: 6.25rem;
}
@media (min-width: 1000px) {
  .logo {
    width: 9.875rem;
  }
}

.header__picture {
  grid-area: hero;
}

.header__hero-img {
  margin-bottom: 4rem;
}
@media (min-width: 1000px) {
  .header__hero-img {
    margin: 0;
  }
}

.header__hero-img {
  width: 100%;
  height: clamp(250px, 1.3513513514 * 100vw + -258.1081081081px, 350px);
  object-fit: cover;
  object-position: top;
}
@media (min-width: 1000px) {
  .header__hero-img {
    height: auto;
    width: min(610px, 0.3636363636 * 100vw + 86.3636363636px);
  }
}

.main__content {
  padding: 0 2rem 4.4375rem;
  color: hsl(0deg, 36%, 70%);
}
@media (min-width: 1000px) {
  .main__content {
    grid-area: main-content;
    padding: 0;
    position: relative;
    margin-top: auto;
    margin-bottom: min(130px, 0.2386363636 * 100vw + -213.6363636364px);
    max-width: 27.8125rem;
  }
}

.main__title {
  font-size: 2.5rem;
  line-height: 1.05;
  font-weight: 300;
  letter-spacing: 10.8254px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.4em;
}
.main__title strong {
  font-weight: 600;
  color: hsl(0deg, 6%, 24%);
}
@media (min-width: 1000px) {
  .main__title {
    font-size: 4rem;
    line-height: 1;
    text-align: left;
    letter-spacing: 17.3206px;
    margin-bottom: 0.5em;
  }
}

.main__paragraph {
  font-size: 0.875rem;
  line-height: 1.5714285714;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2.2857142857em;
}
@media (min-width: 1000px) {
  .main__paragraph {
    text-align: left;
    font-size: 1rem;
    line-height: 1.75;
    margin-bottom: 2.5em;
  }
}

.main__input-wrap {
  width: 100%;
  height: 3rem;
  border: 1px solid hsla(0deg, 36%, 70%, 0.5);
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
@media (min-width: 1000px) {
  .main__input-wrap {
    height: 3.5rem;
    margin-bottom: 0.25rem;
  }
}

.email-input {
  border: 0;
  background-color: transparent;
  margin-left: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  color: hsl(0deg, 7%, 24%);
  font-size: 0.875rem;
  line-height: 2;
  font-weight: 400;
}
.email-input:focus {
  outline: 0;
}
.email-input::placeholder {
  color: hsla(0deg, 36%, 70%, 0.5);
}
@media (min-width: 1000px) {
  .email-input {
    font-size: 1rem;
  }
}

.input__error {
  margin-right: 1rem;
  margin-left: 0.5rem;
  display: none;
}

.input__error-message {
  font-size: 0.8125rem;
  line-height: 1;
  margin-left: 1.5rem;
  color: hsl(0deg, 93%, 68%);
  visibility: hidden;
}
@media (min-width: 1000px) {
  .input__error-message {
    line-height: 28px;
    margin-left: 2rem;
  }
}

.input__submit-btn {
  min-width: 4rem;
  height: 3rem;
  border-radius: 28px;
  display: block;
  border: 0;
  background-color: transparent;
  background-image: linear-gradient(135deg, hsl(0deg, 80%, 86%), hsl(0deg, 74%, 74%));
  cursor: pointer;
  box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
  transition: 0.2s ease;
  position: relative;
  left: 2px;
}
@media (min-width: 1000px) {
  .input__submit-btn {
    min-width: 6.25rem;
    height: 3.5rem;
  }
}
.input__submit-btn:focus {
  outline: none;
}
.input__submit-btn:hover {
  filter: opacity(50%);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50%;
  z-index: -1;
}
@media (min-width: 1000px) {
  .footer {
    left: 0;
    translate: none;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 1em;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/*# sourceMappingURL=style.css.map */
